.Footer{
    display:flex;
    flex-flow: row wrap;
    border-top: 1px solid lightgray;
    padding: 3% 15%;
    background-color: #f7f7f7;
    text-align: center;
    justify-content:space-between;
}

.footer_link{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}

.logo{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    color:black;
    justify-self: start;
    font-size: 3.2rem;
}

.name{
    text-align:left;
    margin:3px;
    font-family: 'Lora', serif;
    color:rgb(61, 61, 61);
    text-decoration: none;
}

.footer_link>h2{
    text-align:left;
    margin-bottom: 5px;
    font-family: 'Lora', serif;
    font-weight: bold;
}

.icons{
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-color: #f7f7f7;
    font-size: large;
    padding:5px 40%;
}

/* .Footer > p{
    padding: 5px;
    font-size: 14px;
} */

.footerbottom{
    background-color:aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    margin:0px;
}