.tutorialVideo{
    flex: 0.8;
    background-color:rgb(236, 226, 226);
    padding:40px 20px;
    padding-bottom:0;
    align-items:center;
}

.tutorialVideo>h1{
    margin-left: 30px;
    margin-bottom: 20px;
}

.listOfVideo{
    display:flex;
    flex-wrap: wrap;
}